.sidenavbar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: center;
    align-items: space-between;
    z-index: auto;
}

.navbar-text h1 {
    color: white;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: 800;
    font-size: 31px;
    padding-top: 30px;

    animation: flicker 1.5s infinite alternate;
  
}